<div class="">
    <app-header></app-header>
    <div class="row">
      <div class="col-sm-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-sm-10">
        <div class="content" role="main">
          <div class=" card highlight-card card-small">
         
         
          <div class="container box" style="font-family: BYek;">
            <div class="table-responsive">
                <h4 style="margin: 15px;font-family: BYek; background-color: coral;">مدیریت اخبار</h4>
                <nav>
                    <input class="form-control" type="text" name="newsTilte"  [(ngModel)]="newsTitle" (ngModelChange)="search()" placeholder="عنوان خبر را برای جستجو وارد کنید">
                </nav>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>عنوان خبر</th>
                            <th>متن خبر</th>
                            <th>دسته خبر</th>
                            <th (click)="sort('shamsiDate')">تاریخ خبر  &nbsp; <i style="font-family: 'FontAwesome';" class="fa fa-sort" ></i></th>
                            <th>مدیریت خبر</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr *ngFor="let news of allNews
                        | orderBy:key:reverse 
                        | paginate: { itemsPerPage: 3, currentPage: p }">
                       <td>{{news.title}}</td>
                       <td>{{news.message}}</td>
                       <td>
                        <span *ngIf="news.category == '1'">سیاسی</span> 
                        <span *ngIf="news.category == '2'">اقتصادی</span> 
                        <span *ngIf="news.category == '3'">ورزشی</span> 
                        <span *ngIf="news.category == '4'">اجتماعی</span>  
                       </td>
                       <td>{{news.shamsiDate}}</td>
                       <td>
                         <i style="font-family: 'FontAwesome';" class="fa fa-edit">&nbsp; &nbsp;</i>
                         <i (click)="remove(news._id)" style="font-family: 'FontAwesome';" class="fa fa-times">&nbsp; </i>
                        </td>
                     </tr>
                    </tbody>
                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                </table>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
