
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<app-header></app-header>
<div class="content" role="main">
  <div class=" card highlight-card card-small">
    <img src="./../assets/faradars-profile-picture.png" padding="10px" width="100" class="rounded-circle">

    <span> آموزش سایت خبری در {{ title }}</span>
  </div>
  <div class="card-container">
  </div>
</div>

<!-- news -->
<div class="row2">
  <div *ngFor="let item of newsList" class="column2">
    <div class="card2">
      <h3>{{item.title}}</h3>
      <p *ngIf="item.message != 'width=100px height=100px />'" [innerHTML]=item.message></p>
      <!-- <p>Some text</p> -->
      <a 
      href="news/{{item._id}}" >جزییات خبر</a>
      <!--  -->
     
    </div>
  </div>
  
  </div>



